coverage
test
Dockerfile
circle.yml
.*.log
*.log
*.log.[0-9]
.circleci
.coveralls.yml
.dockerignore
.editorconfig
.env
.eslintrc*
.npmignore
.tern*
.travis.yml
tsconfig.json
tslint.json
node_modules
src
.visualize.js
visualize-module-structure.svg